.container {
    width: 600px;
    margin: 100px auto;
}

.timer {
    font-size: 92px;
    line-height: 1.4;
    text-align: center;
}

.btns {
    display: flex;
    justify-content: space-around;
}